@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700');

/* 
font-family: 'Oswald', sans-serif;
 */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
  height:100%;
  background-color: rgb(17,17,17);
}


/****************** bootstrap overides */

.bg-dark, .btn-dark {
  background-color: rgb(17,17,17) !important;
}


/****************** navbar */

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.nav-item {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
}

/****************** header video */

.header-video-container{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.header-video-container h1,
.header-video-container h2,
.header-video-container h3{
  font-family: 'Oswald', sans-serif;
}

.header-video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.header-video video{
  min-height:100%;
  min-width:100%;
}


/****************** header video overlay */
.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background: rgba(0,0,0,0.5);
}

.header-content{
  z-index:10;
}

.arrow-down{
  position: absolute;
  /* bottom: 5%; */
  bottom: 5vh;
  /* left:49%; */
  left:49vw;
  font-size: 1.5rem;
  animation: bounce .3s linear infinite alternate;
  animation-iteration-count: 25;
}

@-webkit-keyframes bounce{
  /* from {bottom: 6%;}
  to {bottom:5%;} */
  from {bottom: 6vh;}
  to {bottom:5vh;}
  }

@keyframes bounce {
  /* from {bottom: 6%;}
  to {bottom:5%;} */
  from {bottom: 6vh;}
  to {bottom:5vh;}
  }

.header-content .rounded-circle{
  border:#f8f9fa solid 5px;
}

.header-content .typing{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}


/****************** sections content */

section, .section-content{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-pd{
  /* padding-top:3rem; */
  padding-top: 1rem;
  /* padding-bottom: 2rem; */
  padding-bottom: 2.5rem;
}

.section-dark{
  /* use white text color */
  /* color: var(--light); */
  color:white;
}

.section-light{
  /* color: rgb(17,17,17); */
  color:black;
}

.section-hdr{
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: lighter;
  margin-bottom: 2rem;
  margin-top:3rem;
}

.overlay{
  /* the overlay layer has to be absolute
  and the parent container has to be relative */
  position: absolute;
  height:100%;
  width:100%;
}


/****************** section-1 about */

.overlay-1-grd{
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(17,17,17,.8) 45%, rgba(255,255,255,0) 75%);
}

.section-1{
  background-image: url('../media/DanielaAndrade_about01.png');
}


/****************** section-2 discography */

.overlay-2{
  background-color:rgba(236, 229, 229, 0.7);
  /* background-color:rgba(218, 157, 186, 0.3); */
}

.section-2{
  background-image: url('../media/blur-card-conceptual-185933-trimd.jpg');
  background-attachment: fixed;
  border: none;
}

.section-2 .card, .section-2 .media{
  /* background-color: rgba(233, 229, 229, 0.397); */
  background-color: rgba(172, 170, 170, 0.4);
}

.section-2 .card{
  border: none;
  text-align: center;  
}

.section-2 .media{
  padding: .5rem;
  margin: 0.3rem;
  border-radius: .25rem;
}

.section-2 .media img{
  width:70px;
  align-self: center;
  margin-right: 1rem;
}

.section-2 .media audio{
  width:100%;
}

.section-2 .card-title{
  font-size:1rem;
}

.section-2 .card-body{
  padding:1rem 0.5rem;
}

/****************** section-3 gallery */

.overlay-3-dark{
  background-color:rgba(0, 0, 0, 0.8);
  /* background-color:rgba(0, 0, 0, 0.3); */
}

.section-3{
  background-image: url('../media/album-antique-arrangement-699782-L.jpg');
  /* background-color: black; */
  background-attachment: fixed;

}

.section-3 {
  padding-bottom: 3rem;
}


/****************** section-4 booking contact */

.overlay-4-grd{
  background: rgb(251, 237, 226);
  background: linear-gradient(90deg, rgb(251, 237, 226) 25%, rgba(255,255,255,0) 60%);
}


.section-4{
  background-image: url('../media/daniela-mic-right3.jpg');
  /* background-attachment: fixed; */
  /* it's very tricky to find good image layout for parallax effect 
     that fit in all devices & desktop. so i made it scroll (not-fixed) */
  /* background-position: 100% 1%; */
}

.disclaimer{
  cursor:pointer;
}

/* 
boostrap grid:
--------------------- 
  Extra small < 576px	
  Small ≥ 576px	
  Medium ≥ 768px	
  Large ≥ 992px	
  Extra large ≥ 1200px
 */

/****************** Media Queries for mobile*/
/* most of the responsive logic are done with BS4
except these settings */

@media(max-width: 767px) {

  .header-video{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../media/vdo-poster-2.jpg');
  }

  .header-video video{
    display: none;
  }

  .header-content .rounded-circle{
    border:#f8f9fa solid 3px;
  }

  .header-content .typing{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .overlay-1-grd{
    /* background-color:rgba(255, 255, 255, 0.3); */
    background:rgba(0, 0, 0, 0.8);
    /* background-color:rgba(255, 255, 0, 0.3); */
  }
  
  .overlay-4-grd{
    background:rgba(251, 237, 226, 0.8);
    /* background:rgba(0, 0, 0, 0.8); */
  }
  
}